@model ViewModelData;
@{
    int UserId = Int32.Parse(@ViewBag.UserId);
    //int SortedData= Int32.Parse(@ViewBag.SortedProfile);

}
<div class="row d-flex justify-content-between">
    <div class="col-md-3 card">
        @{await Html.RenderPartialAsync("_Photo", new { PhotoDetails = Model.UserProfilePhotoTbl, UserData = UserId });}
    </div>
    <div class="col-md-9 card">
        @{await Html.RenderPartialAsync("_Personal", new { PersonalDetails = Model.PersonalDetailsTbl, UserData = UserId });}
    </div>
</div>
<div class="row">
    <div class="col-md-12 card mt-2">
        @{await Html.RenderPartialAsync("_Address", new { AddressDetails = Model.AddressDetailsTbl, UserData = UserId }); }
    </div>
</div>
<div class="row">
    <div class="col-md-6 card">
        @{await Html.RenderPartialAsync("_Education", new { EducationDetails = Model.UserEducationTbl, UserData = UserId });}
    </div>
    <div class="col-md-6 card">
        @{await Html.RenderPartialAsync("_Work", new { WorkDetails = Model.UserWorkTbl, UserData = UserId });}
    </div>
</div>
<div class="row">
    <div class="col-md-3 card">
        @{await Html.RenderPartialAsync("_Followers", new { FollowersDetails = Model.UserFollowersDetails, UserData = UserId });}
    </div>
    <div class="col-md-3 card">
        @{await Html.RenderPartialAsync("_Following", new { FollowingDetails = Model.UserFollowingDetails, UserData = UserId });}
    </div>
    <div class="col-md-3 card">
        @{await Html.RenderPartialAsync("_ArticleWrote", new { ArticleWroteDetails = Model.ArticleTbl, UserData = UserId });}
    </div>
    <div class="col-md-3 card">
        @{await Html.RenderPartialAsync("_ArticlePined", new { ArticlePinnedDetails = Model.ArticlePinedTbl, UserData = UserId });}
    </div>
</div>
@ViewBag.SortedProfile
<div class="row justify-content-center">
    @Html.ActionLink("Add To List", "SortedPost", "Edit", new { SelectBy = UserId, SortedProfile = @ViewBag.SortedProfile }, new { @class = "btn btn-outline-primary" })
</div>
